/*========================ГЛОБАЛЬНЫЕ СТИЛИ========================*/
body {
	min-width: 1920px;
	margin: 0;
	padding: 0;

	font-family: Arial, Georgia, Times New Roman, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #4c4c4c;

	background-color: #fafafa;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;

	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 375px;
}


/*========================СТИЛИ ДЛЯ HEADER========================*/
.main-header {
	min-height: 925px;
	margin-bottom: 90px;

	background-color: #252120;
	background-image: url("../img/header-dog.png"), url("../img/header-bg.jpg");
	background-position: 960px 0, 0 0;
	background-repeat: no-repeat, no-repeat;
}

.main-navigation {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

	padding-top: 60px;

	background-color: transparent;
}

.main-header-logotype {
	display: block;
	vertical-align: middle;
	min-width: 270px;
	text-align: left;
}

.main-header-logotype h1 {
	margin: 0;
	padding: 0;
	padding-top: 11px;
	padding-bottom: 17px;

	font-family: Georgia, sans-serif;
	font-size: 32px;
	line-height: 0;
	font-weight: normal;
	color: #f1cdb3;
	letter-spacing: 1.8px;
}

.main-header-logotype p {
	margin: 0;
	padding: 0;

	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 29px;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 1.5px;
}

.main-navigation-menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 465px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-navigation-menu li {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 29px;
	font-weight: normal;
	color: #cdcdcd;
}

.main-navigation-menu a {
	position: relative;
	display: block;
	padding-top: 9px;
	vertical-align: middle;
	color: #cdcdcd;
}

.main-navigation-menu a:hover::after {
	content: "";

	position: absolute;
	right: 0px;
	bottom: -2px;
	left: 0px;

	height: 3px;

	background-color: #f1cdb3;
	border-radius: 3px;
}

.index-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;

	color: #cdcdcd;
}

.promo-content {
	width: 460px;
	padding-top: 234px;
	padding-bottom: 100px;
}

.promo-content-title {
	margin: 0;
	margin-bottom: 27px;

	font-family: Georgia, sans-serif;
	font-size: 44px;
	line-height: 57px;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 2.7px;
}

.promo-content-info {
	margin: 0;
	margin-bottom: 40px;

	font-family: Arial, sans-serif;
	/*font-size: 15px;*/
	font-size: 14.5px; /*не по макету*/
	line-height: 24px;
	font-weight: normal;
	letter-spacing: 0;
}

.promo-button {
	display: inline-block;

	margin-right: 15px;
	padding: 0 44px;

	font-family: Georgia, sans-serif;
	font-size: 17px;
	line-height: 52px;
	font-weight: normal;
	color: #292929;
	text-align: center;
	letter-spacing: 1px;

	background-color: #f1cdb3;
	border: none;
	border-radius: 50px;
}

.promo-button:hover {
	background-color: #fddcc4;
}


/*========================СТИЛИ ДЛЯ MAIN========================*/
.about-pets-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 82px;
}

.about-pets-left {
	width: 300px;
	padding: 0;
	margin-left: 168px;
	margin-right: 118px;
}

.about-pets-left img {
	width: 300px;
	height: 408px;
}

.about-pets-right {
	width: 425px;
	margin-right: 140px;
	padding: 0;
}

.about-pets-right h2 {
	margin: 0;
	margin-bottom: 27px;
	padding-top: 24px;
	padding-right: 20px;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 2px;
}

.about-pets-right p {
	margin: 0;

	font-family: Arial, sans-serif;
	/*font-size: 15px;*/
	font-size: 14.6px; /*не по макету*/
	line-height: 24px;
	font-weight: normal;
	color: #4c4c4c;
	letter-spacing: 0;
}

.about-pets-right .paragraph {
	margin-bottom: 25px;
}

.choice-pets {
	position: relative;
	padding-bottom: 35px;

	background-color: #f6f6f6;
}

.choice-pets-title {
	padding-top: 70px;
	padding-bottom: 65px;
	margin: 0 370px;
	text-align: center;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 2px;
}

.choice-pets-button {
	position: absolute;
	top: 405px;

	width: 50px;
	height: 50px;
	margin: 0;

	background-color: #f6f6f6;
	border: 2px solid #f1ceb5;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("../img/long-arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.choice-pets-button.disabled,
.choice-pets-button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #f6f6f6;
}

.choice-pets-button:hover:not([disabled]),
.choice-pets-button:active:not([disabled]){
	background-color: #f1cdb3;
	cursor: pointer;
}

.choice-button-prev {
	/*left: 20%;*/
	left: 375px;
}

.choice-button-next {
	/*right: 20%;*/
	right: 375px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.choise-gallery-wrapper {
	margin: 0 auto;
	width: 970px;
}

.gallery-pets {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	margin: 0;
	padding: 0;
}

.gallery-item {
	position: relative;

	width: 270px;
	height: 426px;
	margin-bottom: 62px;
	text-align: center;

	list-style: none;
	background-color: #fafafa;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 10px;
}

.gallery-item:hover,
.gallery-item:focus {
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.gallery-item-bottom {
	position: absolute;

	display: block; 
	bottom: 0;
	left: 0;

	width: 270px;
	min-height: 155px;
	padding: 0 40px;
	text-align: center;

	background-color: #fafafa;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery-item-bottom b {
	display: block;
	margin-top: 12px;
	margin-bottom: 8px;

	font-family: Georgia, sans-serif;
	font-size: 20px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
}

.learn-more-button {
	display: inline-block;
	width: 104px;
	margin-bottom: 34px;
	padding: 0 40px;

	font-family: Georgia, sans-serif;
	font-size: 17px;
	line-height: 48px; /*не по макету*/
	font-weight: normal;
	color: #292929;
	text-align: center;
	letter-spacing: 1px;

	background-color: #fafafa;
	border: 2px solid #f1cdb3;
	border-radius: 50px;
}

.learn-more-button:hover,
.learn-more-button:focus {
	background-color: #f1cdb3;
}

.gallery-pets-button {
	display: block;
	width: 182px;
	margin: 0 auto;
	margin-bottom: 34px;
	padding: 0 40px;

	font-family: Georgia, sans-serif;
	font-size: 17px;
	line-height: 48px;
	font-weight: normal;
	color: #292929;
	text-align: center;
	letter-spacing: 1px;

	background-color: #f1cdb3;
	border: 2px solid #f1cdb3;
	border-radius: 50px;
}

.gallery-pets-button:hover,
.gallery-pets-button:focus {
	background-color: #fddcc4;
	border-color: #fddcc4;
}

.help-pets {
	position: relative;
	background-color: #fafafa;
}

.help-pets h2 {
	display: block;
	width: 368px;
	margin: 0 auto;
	padding-top: 63px;
	padding-bottom: 65px;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 2px;
	text-align: center;
}

.help-types {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;

	margin: 0;
	padding: 0;
}

.help-type {
	position: relative;
	width: 200px;
	height: 120px;
	margin-bottom: 67px;

	text-align: center;
	list-style: none;

	background-color: #fafafa;
	background-repeat: no-repeat;
	background-position: 50% 5%;
	border: none;
}

.help-type-1 {
	background-image: url("../img/pet-food-1.svg");
}

.help-type-2 {
	background-image: url("../img/transportation-2.svg");
}

.help-type-3 {
	background-image: url("../img/toys-3.svg");
}

.help-type-4 {
	background-image: url("../img/bowl-4.svg");
}

.help-type-5 {
	background-image: url("../img/shampoo-5.svg");
}

.help-type-6 {
	margin-left: 105px;
	background-image: url("../img/vitamins-6.svg");
}

.help-type-7 {
	background-image: url("../img/medicines-7.svg");
}

.help-type-8 {
	background-image: url("../img/collars-8.svg");
}

.help-type-9 {
	margin-right: 105px;
	background-image: url("../img/sleeping-9.svg");
}

.help-type span {
	display: block;
	margin-top: 78px;

	font-family: Georgia, sans-serif;
	font-size: 20px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
}

.donation-pets-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 68px;

	background-color: #f6f6f6;
}

.donation-pets-left {
	position: relative;
	width: 570px;
	padding: 0;
	margin-right: 15px;
}

.donation-pets-left img {
	margin-top: 88px;
	margin-left: 18px;
}

.donation-pets-right {
	width: 360px;
	padding: 0;
}

.donation-pets-title {
	margin-top: 65px;
	margin-bottom: 16px;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 2px;
}

.bank-name {
	padding: 0;
	margin: 0;
	margin-bottom: 6px;

	font-family: Georgia, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 1px;
}

.bank-requisites {
	position: relative;
	display: block;

	width: 260px;
	margin: 0;
	margin-bottom: 29px;
	padding: 1px;
	padding-left: 58px;

	font-family: Times New Roman, sans-serif;
	font-size: 20px;
	line-height: 45px;
	font-weight: normal;
	color: #292929;
	letter-spacing: 1px;

	background-color: #f1cdb3;
	border: none;
	border-radius: 10px;
}

.bank-icon {
	position: absolute;

	display: inline-block;
	width: 34px;
	height: 28px;
	left: 12px;
	top: 8px;
}

.donation-info {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-style: italic;
	color: #b2b2b2;
	letter-spacing: 0.1px;
}


/*========================СТИЛИ ДЛЯ FOOTER========================*/
.main-footer {
	min-height: 360px;

	background-color: #1b1b1d;
	background-image: url("../img/footer-dog3.png"), url("../img/footer-bg.jpg");
	background-position: 1240px 47px, 0 0;
	background-repeat: no-repeat, no-repeat;
}

.main-footer .container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.our-contacts,
.our-stations {
	width: 300px;
	margin-right: 152px;
}

.contacts-title {
	margin-top: 71px;
	margin-bottom: 16px;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 2px;
}

.contact-info {
	margin: 0;
	padding: 0;

	list-style: none;
}

.info-item {
	position: relative;

	font-family: Times New Roman, sans-serif;
	font-size: 20px;
	line-height: 45px;
	font-weight: normal;
	color: #f1cdb3;
}

.info-item a {
	color: #f1cdb3;
}

.our-email {
	margin-top: 27px;
	padding-left: 63px;
	letter-spacing: 1px;
}

.email-icon {
	position: absolute;
	display: inline-block;
	width: 66px;
	height: 38px;
	left: -12px;
	top: 4px;
}

.our-telephone {
	margin-top: 21px;
	padding-left: 63px;
	letter-spacing: 1px;
}

.phone-icon {
	position: absolute;

	display: inline-block;
	width: 50px;
	height: 42px;
	left: -4px;
	top: -1px;
}

.station-1 {
	margin-top: 26px;
	padding-left: 46px;

	line-height: 24px;
	letter-spacing: 1.3px;
}

.station-2 {
	margin-top: 28px;
	padding-left: 46px;

	line-height: 24px;
	letter-spacing: 1.2px;
}

.station-icon-1,
.station-icon-2 {
	position: absolute;

	display: inline-block;
	width: 34px;
	height: 48px;
}

.station-icon-1 {
	left: -4px;
	top: -1px;
}

.station-icon-2 {
	left: -4px;
	top: -12px;
}


/*========================СТИЛИ ДЛЯ INNER-HEADER========================*/
.inner-header {
	min-height: 103px;
	margin-bottom: 0;

	background-color: #fafafa;
}

.inner-header .main-header-logotype h1 {
	color: #545454;
}

.inner-header .main-header-logotype p {
	color: #292929;
}

.inner-header .main-navigation {
	padding-top: 32px;
}

.inner-header .main-navigation-menu li,
.inner-header .main-navigation-menu a {
	color: #545454;
}

.inner-main {
	background-color: #f6f6f6;
}

.inner-main .choice-pets-title {
	padding-bottom: 58px;
}

.inner-gallery-wrapper {
	min-width: 1170px;
	margin-bottom: 25px;
}

.inner-gallery-wrapper .gallery-pets {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.inner-gallery-wrapper .gallery-item {
	margin-bottom: 33px;
}

.pagination {
	width: 282px;
	margin: 27px auto;
	padding: 0px;
	white-space: nowrap;
}

.pages {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.page {
	margin: 0;
}

.page a,
.more-page span {
	display: inline-block;

	min-width: 27px;
	height: 48px;
	padding: 0 10px;
	text-align: center;
	vertical-align: middle;

	font-family: Times New Roman, sans-serif;
	font-size: 20px;
	line-height: 45px;
	font-weight: normal;
	color: #292929;
	text-decoration: none;

	background-color: #f6f6f6;
	border: 2px solid #f1cdb3;
	border-radius: 50%;
}

.more-page span {
	color: #f1cdb3;
	border: none;
}

.hidden-page {
	display: none;
}

.page .active-page,
.page a:hover {
	background-color: #f1cdb3;
}

.inner-footer {
	min-height: 354px;

	background-color: #1b1b1d;
	background-image: url("../img/footer-dog3.png"), url("../img/footer-bg.jpg");
	background-position: 1240px 41px, 0 0;
	background-repeat: no-repeat, no-repeat;
}

.inner-footer .contacts-title {
	margin-top: 65px;
}


/*========================СТИЛИ ДЛЯ МОДАЛЬНОГО ОКНА========================*/
.modal-content-pets {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 30;   /*задан, чтобы карта была поверх overlay*/

	display: none;
	width: 970px;
	height: 472px;
	padding: 100px;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background: #f8f8f8;

	border: none;
	-webkit-box-shadow: 0 10px 50px rgba(37, 33, 32, 0.5);
	box-shadow: 0 10px 50px rgba(37, 33, 32, 0.5);
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20; /*задаем для полупрозрачного фона между всплывающими окнами и основной страницей*/

	display: none; 
	width: 100%;
	height: 100%;

	background-color: rgba(250, 250, 250, 0.7);
}

.modal-popup-show,
.modal-jennifer-show,
.modal-charly-show { 
	display: block;
}

.modal-content-close {
	position: absolute;
	top: 36px;
	right: 51px;

	width: 50px;
	height: 50px;

	font-size: 0; /*прячем шрифт "закрыть"*/

	background-color: #fafafa;
	border: 2px solid #f1ceb5;
	border-radius: 50%;
	outline: 0; /*сбрасываем кнопочные стили(рамки, обводки и т.д.*/
	cursor: pointer; 
}

.modal-content-close::before,
.modal-content-close::after { /*рисуем крестик (Х)*/
	content: "";
	position: absolute;
	top: 21px;
	left: 14px;

	width: 19px;
	height: 3px;
	background-color: #303030;
	border-radius: 1px;
}

.modal-content-close::before { /*рисуем крестик (Х)*/
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-content-close::after { /*рисуем крестик (Х)*/
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-content-close:hover {
	background-color: #f1cdb3;
	cursor: pointer;
}

.modal-content-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;

	width: 970px;
	min-height: 472px;
	background-color: #fafafa;
}

.modal-pet-image,
.modal-pet-details {
	width: 470px;
	height: 472px;
	margin: 0 auto;

	background-color: #fafafa;
}

.modal-pet-image {
	text-align: center;
}

.modal-pet-title {
	padding-left: 25px;
	padding-top: 20px;
	margin-bottom: 0;

	font-family: Georgia, sans-serif;
	font-size: 35px;
	line-height: 45px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 2px;
}

.modal-pet-subtitle {
	margin: 0;
	padding-left: 25px;

	font-family: Georgia, sans-serif;
	font-size: 20px;
	line-height: 34px;
	font-weight: normal;
	color: #545454;
	letter-spacing: 1.8px;
}

.modal-pet-paragraph {
	margin: 16px 0;
	padding: 0 25px;

	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: normal;
	color: #4c4c4c;
}

.pet-details-items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;

	margin: 0;
	padding: 0;
	padding-left: 39px;
}

.pet-details-items li {
	color: #f1cdb3;
}

.pet-details-items span {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 31px; /*не по макету*/
	font-weight: normal;
	color: #545454;
}

.pet-details-items b {
	font-family: Georgia, sans-serif;
	font-size: 17px;
	line-height: 30px; /*не по макету*/
	font-weight: normal;
	color: #545454;
}


/*========================СТИЛИ ДЛЯ КАРТЫ========================*/
.modal {
	position: fixed;

	display: none;

	color: #545454;

	background-color: rgba(250, 250, 250, 0.3);
	background-image: url("../img/map.png");
	background-position: 0 0;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0 10px 50px rgba(37, 33, 32, 0.5);
	box-shadow: 0 10px 50px rgba(37, 33, 32, 0.5);
}

.modal-map {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	width: 1000px;
	height: 700px;

	border: 100px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	margin: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 2;

	border: none;
}

.modal-show { 
	display: block;
}

.modal-close {
	position: absolute;
	top: -60px;
	right: -60px;

	width: 50px;
	height: 50px;

	font-size: 0; /*прячем шрифт "закрыть"*/

	background-color: #fafafa;
	border: 2px solid #f1ceb5;
	border-radius: 50%;
	outline: 0; /*сбрасываем кнопочные стили(рамки, обводки и т.д.*/
	cursor: pointer;
}

.modal-close::before,
.modal-close::after { /*рисуем крестик (Х)*/
	content: "";
	position: absolute;
	top: 21px;
	left: 14px;

	width: 19px;
	height: 3px;
	background-color: #303030;
	border-radius: 1px;
}

.modal-close::before { /*рисуем крестик (Х)*/
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.modal-close::after { /*рисуем крестик (Х)*/
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-close:hover {
	background-color: #f1cdb3;
	cursor: pointer;
}